body {
    font-family: system-ui;
    background: #fff;
    color: white;
    text-align: center;
  }
  
  p{
    padding:60px 0;
    color:#000;
  }
  footer{
    background-color:#555;
  }
  footer p{
    color:#fff;
  }
  footer li a{
    color:#fff;
  }

  i {
    position: relative;
    color: #000;
  }
  .badge{
    position: relative;
    top: -15px;
    
    padding: 5px 5px;
    border-radius: 50%;
    background: red;
    color: white;
  }