
*{
  margin: 0px;
  padding: 0px;
}
body {
    font-family: system-ui;
    background: rgb(56, 34, 222);
    color: white;
    /* text-align: center; */
  }
  
  p{
    padding:60px 0;
    color:#000;
  }
  footer{
    background-color:#555;
  }
  footer p{
    color:#fff;
  }
  footer li a{
    color:#fff;
  }

  i {
    position: relative;
    color: #000;
  }
  .badge{
    position: relative;
    top: -15px;
    
    padding: 5px 5px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  .hidden{
    display: none;
  }

  .show{
    display: block;
  }